body,html{
	width: 100%;
	height: 100%;
	padding:0px;
	margin:0px;
	overflow-x: hidden;
	background-color: #ffffff;
	font-size: 0;
}

.loading{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	z-index: 10000;
}

.loading > img{
	width: 100%;
}

.scroll{
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.main{
	width: 100%;
	height: 100%;
}

.trans{
	opacity: 0;
}

.hidden{
	display: none;
}

.top{
	position: fixed;
    top: 0;
	width: 100%;
	height: 6vh;
	background-color: #ffffff;
	z-index: 999;
}

.bottom{
	position: fixed;
	bottom: 0;
	height: 8vh;
	width: 100%;
	text-align: center;
}

.toolbar{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 25%;
	height: 25px;
}

#toolbar_info{
	float: right;
}

.toolbar img{
	height: 100%;
}

.buttons{
	width: 100%;
	height: 100%;
	text-align: right;
	display: none;
}

.titles{
	width: 100%;
	height: 100%;
	text-align: center;
}

.titles img{
	height: 100%;
}

.content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 6%;
}

.content > div{
	margin: 0 auto;
	padding-bottom: 110px;
}

.type1{
	width: 90%;
	margin-bottom: 110px;
}

.type1 img{
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.type2{
	width: 90%;
}

.type2 img{
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.type3{
	width: 90%;
}

.type3 img{
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.type4{
	margin-top: 60px;
	width: 90%;
}

.type4 img{
	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.type5{
	width: 85%;
	padding-top: 30px;
}

.type5 img{
	width: 42%;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 15px;
}

.type6{
	padding-top: 10px;
	width: 75%;
}

.type6 img{
	width: 100%;
	margin-bottom: 20px;
}

.type7{
	padding-top: 30px;
	width: 85%;
}

.type7 img{
	width: 100%;
	margin-bottom: 35px;
}

.menubg{
	position: fixed;
	bottom: 0;
	left: 5%;
	width: 90%;
	opacity: 0.3;
	z-index: 999;
}

.menuDiv{
	position: fixed;
	bottom: 0;
	height: 8vh;
	width: 100%;
	text-align: center;
	z-index: 999;
}

.menus{
	height: 100%;
	width: 90%;
	margin: 0 auto;
}

.menu{
    margin-top: 3%;
    height: 60%;
    margin-left: 2%;
    margin-right: 2%;
}

.menu.trans{
	opacity: 0.3;
}

.book{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: none;
}

.book > div{
	width: 100%;
	height: 100%;
	display: none;
}

.book_type1_1,.book_type2_2{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

#type1_1_book_intro,#type2_2_book_intro{
	width: 80%;
	display: none;
}

#type1_1_video,#type2_2_video{
	width: 30%;
	display: none;
}

.book1_1_video,.book2_2_video{
	margin-top: 50%;
	width: 100%;
	display: none;
}

.book1_1_pages,.book2_2_pages{
	display: flex;
    align-items: center;
}

.book1_1_pages > img,.book2_2_pages > img{
	width: 100%;
}

.buyPage{
	width: 100%;
	height: 100%;
	display: none;
}

.buyPage_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.buyPage_imgs{
	position: relative;
	width: 55%;
	height: 100%;
	margin: 0 auto;
}

.buyPage_imgs .img_book{
	width: 100%;
	padding-top: 8vh;
}

.buyPage_imgs .img_price{
	height: 6vh;
	padding-top: 1vh;
	display: block;
}

.buyPage_imgs .img_buy{
	height: 7vh;
	padding-top: 0.5vh;
	display: inline-block;
}

.buyPage_imgs .img_cart{
	height: 7vh;
	padding-top: 0.5vh;
	display: inline-block;
}

.buyPage_imgs .img_book_intro{
    width: 100%;
	padding-top: 2vh;
	display: inline-block;
}